<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Taco Cloud</title>
	</head>
	<body>
		<h1>Welcome to Hell...</h1>
		<img th:src="@{/images/TacoCloud.png}"/>
		<br/>
		<a th:href="@{/design}" id="first">Design First taco</a>
		<br/>
	</body>
</html>